<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Verify Email</title>
        <link rel="stylesheet" href="/static/login.css">
        <script src="loginpageJS.js"></script>
    </head>

    <body>
        <div class="loginBox">
            <!--<img src="avatar.png" class="avatar">-->
            <h1>Enter Email verification code</h1>
            <form name="myForm" onsubmit="return valid()" action="{{ url_for('sign_verify') }}" method="POST">
                <p>Code sent to email</p>
                <input type="text" name="code" placeholder="Enter code" required>
                <input type="submit" name="" value="Submit">
                <a href="/">Home</a> <br>
                <a href="/signup">Back</a>
            </form>
        </div>

        {% if code_wrong == True: %}
            <script>
                alert("Your signup verification code was incorrect! Check email again!");
            </script>
        {% endif %}
    </body>

</html>