body{
    background: url("supraPic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    backdrop-filter:blur(2px)
  }
  
  .header{
    width: 100%;
    background-color: black;
  }
  
  .header ul{
    text-align: center;
  }
  
  .header ul li{
    list-style: none;
    display: inline-block;
  
  }
  
  .header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding:25px;
    transition: all ease 0.5s;
  }

  .header ul li a:hover{
    background-color: red;
    opacity: 1;
  }


  .dataBox{
    background-color: white;
    opacity: 0.8;
    
    padding-top: 50px;
    height: 300px;
    width:300px;
    padding-left: 20px;
    border-radius: 15px;
  }
  .data{
    text-align: center;

  }

label
{
    opacity: 1;
    color: darkred;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
   

}


input[type=text] 
{
  padding:10px;
  border-radius:10px;
  border-color: black;
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;

}

.rounded-input 
{
  padding:10px;
  border-radius:10px;
}
input 
{
  width:85%;
  margin-bottom: 10px
}


input[type=submit] {
        padding: 5px 15px;
        background: #993300;
        color: white;
        border: 0 none;
        cursor: pointer;
        -webkit-border-radius: 2px;
        border-radius: 10px
        width: 10%;
  
