<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Change Password</title>
        <link rel="stylesheet" href="/static/login.css">
        <script src="loginpageJS.js"></script>
    </head>

    <body>
        <div class="loginBox">
            <!--<img src="avatar.png" class="avatar">-->
            <h1>Change password here</h1>
            <form name="myForm" onsubmit="return valid()" action="{{ url_for('change_password') }}" method="POST">
                <p>Old Password</p>
                <input type="password" name="oldpassword" placeholder="Enter old password" required>
                <p>New Password</p>
                <input type="password" name="password" placeholder="Enter new password" required>
                <p>Verify Password</p>
                <input type="password" name="repassword" placeholder="Reenter new password" required>
                <input type="submit" name="" value="Change Password">
                <a href="/">Back</a> <br>
            </form>
        </div>

        {% if old_wrong == True: %}
            <script>
                alert("Old password is incorrect!");
            </script>
        {% endif %}

        {% if no_match == True: %}
            <script>
                alert("Passwords do not match!");
            </script>
        {% endif %}

        {% if no_match != true and invalid == True: %}
            <script>
                alert("Password must be 8-20 characters, and must have at least 1 uppercase letter, 1 lowercase letter, and 1 special character!");
            </script>
        {% endif %}

        {% if no_match != True and taken == True: %}
            <script>
                alert("Password already in use!");
            </script>
        {% endif %}
    </body>
</html>